.productDetails-container{
    height: 90vh;
    display: flex;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
}

.image-container{
    width: 60%;
    padding: 5px;
}

.image-container img{
    height: 100vh;
    width: 100%;
}

.info-container{
    width: 40%;
    background-color: #efefef;
    padding: 20px 20px 0 20px;
}


.color-size-div{
    display: flex;
    border-bottom: 1px solid grey;
}

.color-div{
    word-wrap: break-word;
    width: 60%;
}

.size-div{
    width: 40%;
}

.offer{
    word-wrap: break-word;
}

.offer-div h4{
    color: rgb(86, 84, 84);
}

.button-group{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-group .price{
    background-color: white;
    width: 40%;
    height: 40px;
}

.button-group .price h3{
    margin: auto;
    font-size: 30px;
}

.button-group .btn{
    width: 60%;
    background-color: white;
}